# Series Basics Exercise

**Work with the `bestsellers.csv` dataset to answer the following questions:**

In [1]:
import pandas as pd

In [2]:
bestsellers = pd.read_csv("data/bestsellers.csv")
bestsellers

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

## Part 1
* Retrieve a series that contains the book Names
* Retrieve a series that contains the User Ratings
* Retrieve the first 8 Authors

In [6]:
names = bestsellers['Name']
names

0                          10-Day Green Smoothie Cleanse
1                                      11/22/63: A Novel
2                12 Rules for Life: An Antidote to Chaos
3                                 1984 (Signet Classics)
4      5,000 Awesome Facts (About Everything!) (Natio...
                             ...
545         Wrecking Ball (Diary of a Wimpy Kid Book 14)
546    You Are a Badass: How to Stop Doubting Your Gr...
547    You Are a Badass: How to Stop Doubting Your Gr...
548    You Are a Badass: How to Stop Doubting Your Gr...
549    You Are a Badass: How to Stop Doubting Your Gr...
Name: Name, Length: 550, dtype: object

In [7]:
user = bestsellers['User Rating']
user

0      4.7
1      4.6
2      4.7
3      4.7
4      4.8
      ...
545    4.9
546    4.7
547    4.7
548    4.7
549    4.7
Name: User Rating, Length: 550, dtype: float64

In [13]:
author = bestsellers['Author'].head(8)
author

0                    JJ Smith
1                Stephen King
2          Jordan B. Peterson
3               George Orwell
4    National Geographic Kids
5         George R. R. Martin
6         George R. R. Martin
7                 Amor Towles
Name: Author, dtype: object

## Part 2
* Find the unique Genres
* Find the number of unique Authors
* Find the average Price
* Find the 10 highest prices

In [11]:
genres = bestsellers['Genre'].unique()
genres

array(['Non Fiction', 'Fiction'], dtype=object)

In [16]:
authors = bestsellers['Author'].nunique()
authors

248

* The number of unique authors is 248.

In [17]:
avg = bestsellers['Price'].mean()
avg

13.1

* The average of price is 13,1.

In [19]:
price = bestsellers['Price'].nlargest(10)
price

69     105
70     105
473     82
151     54
346     53
159     52
271     46
272     46
273     46
274     46
Name: Price, dtype: int64

## Part 3
* Find the top 3 most common book titles in the dataset
* Create a new dataframe with only Author and User Rating.
* Using the new dataframe, find the most common combination of Author and User Rating Score.

## Part 4
* Create a pie chart showing the total number of times each Genre appears in the dataset.
* Find out the top 10 most prolific authors and plot their number of books as a bar plot
* BONUS: create a histogram showing the distribution of User Rating scores